body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightgrey;
  text-align: center;
  height: auto;
  border: 10px solid black;
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 25px;
  text-shadow: 0.5px 0.5px #ff0000;
  margin: auto;
  padding-top: 10px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5px;
  padding-top: 20px;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
}

.container {
  width: fit-content;
}

.button-container {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.layout {
  width: fit-content;
  margin: auto;
}

.cards {
  display: flex;
  gap: 15px;
}

.card {
  font-size: 50px;
  text-align: center;
  background-color: whitesmoke;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  margin: 2px;
  padding-top: 40px;
}

#next-hand {
  margin-bottom: 20px;
}
